<h2>Here is a form to add a new cryptid</h2>
<form action="/cryptids" method="post" name="addCryptid">
    <label for="cryptid-image">Image URL:</label>
    <input type="text" name="image" id="cryptid-image">

    <label for="cryptid-name">Name:</label>
    <input type="text" name="name" id="cryptid-name">

    <input type="submit" value="Add that Cryptid!" name="addCryptid">
</form>