<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Dinos and Cryptids</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dinos">Show All Dinos</a></li>
                <li><a href="/dinos/new">Add a Dino</a></li>
                <li><a href="/cryptids">Show All Cryptids</a></li>
                <li><a href="/cryptids/new">Add a Cryptid</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
    <%- body %>
    </div>
</body>
</html>